
/* App.css */
.app-container {
  display: flex;
}

/* .sidebar {
  width: 250px;
  flex-shrink: 0;
  position: fixed;
  background-color: #f4f4f4;
} */

.main-content {
  flex-grow: 1;
}

.bg-image{
  background-image: url('/Frontend/public/Rectangle28.png');
}